<html>
    <head>
        <title>FLEM</title>
    </head>
    <body>
        <h1>FLEM</h1>
        <form action="http://localhost:5000/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="sample">
            <select id="model" name="model">
                <option value="functions_only">FUNCTIONS_ONLY</option>
                <option value="text_section">TEXT_SECTION</option>
                <option value="whole_exe">WHOLE_EXE</option>
            </select>
            <select id="algorithm" name="algorithm">
                <option value="LIME">LIME</option>
                <option value="SHAP">KERNEL SHAP</option>
            </select>
            <input type="submit">
        </form>
    </body>
</html>