<!DOCTYPE html>

<html lang="en">
    <head>
        <title>FLEM</title>
    </head>
    <body>
        <h1>FLEM</h1>
        <form action="{{url_for('loadingPage')}}" method="POST" enctype="multipart/form-data">
            <input type="file" name="sample">
            <select id="model" name="model">
                <option value="flem_functions_only">FUNCTIONS_ONLY</option>
                <option value="flem_text_section">EXT_SECTION</option>
                <option value="flem_whole_exe">WHOLE_EXE</option>
                <option value="RAW">RAW</option>
                <option value="DIS">DIS</option>
                <option value="DEC">DEC</option>
            </select>
            <select id="algorithm" name="algorithm">
                <option value="LIME">LIME</option>
                <option value="SHAP">KERNEL SHAP</option>
            </select>
            <input type="submit">
        </form>
    </body>
</html>